*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}
.menu {
    background-color: #303030;
    text-align: right;
    height: 30px;
    width: 100%;
    padding-top: 3px;
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 0px;
    overflow: hidden;
}
.menu i {
    padding-right: 3px;
    height: 30px;
}
.menu li {
    display: inline-block;
    margin-left: 15px;
    text-shadow: 0 1px 2px rgb(255, 255, 255/30%);
}
.menu li a {
    font-size: 12px;
    color: #fff;
    display: inline-block;
}
.menu li a:hover {
    color: #f15e2c
}
/* Kết thúc menu */

/* Bắt đầu navigation bar */

.navbar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 12px;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}

.navbar .navbar-logo {
    padding-left: 65px;
    padding-top: 20px;
}
.navbar .navbar-logo img {
    max-width: 80px;
    max-height: 125px;
    width: auto;
    height: auto;
    overflow: visible;
    display: flex;
    justify-content: space-between;
}
.navbar .line {
    border-right: #e3e2e2 2px solid;
    margin-top: 20px;
    height: 22px;
}
.navbar .navbar-center {
    padding-left: 50px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.navbar .navbar-center .dropdown, .line{
    display: inline-block;
    padding: 0px 8px;
    width: auto;
    text-align: center;
    height: 100%;
}
.navbar-center .fa-angle-down {
    padding-top: 0px;
    padding-left: 1px;
    /* position:inherit; */
}
.dropdown-toggle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-left: 18px;
    height: 100%;
}
.navbar-center .dropdown:hover .dropdown-toggle{
    color: #f15e2c;
}
.navbar-center .dropdown:hover .fa-angle-down{
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transition: 0.3s ease;
    margin-top: 0px;
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}
.navbar-center 
.mega-menu {
    /* border-top: transparent 20px solid;     */
    padding-top: 20px;
    left: 0px;
    position: absolute;
    background: #444;
    width: 100%;
    min-height: 100px;
    display:none;
}
.mega-menu .mega-content {
    background: #444;
    display:flex;
    padding: 25px 20px;
    width: 100%;
    justify-content: space-between;

}
.mega-content .mega-row {
    width:100%;
    line-height: 45px;
    /* display: block; */
}
.mega-content .mega-row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-between;
}
.mega-content .mega-row .mega-links {
    margin-left: 0px;
    border-left: solid rgb(255, 255, 255/30%);
    display: block;
}
nav .navbar-center .dropdown:hover .mega-menu {
    display: flex;
    padding-top: 20px;
    background: transparent;
}

.mega-row .mega-links li {
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block !important;
}
/* .mega-link1 {
    display: block !important;
} */
/* Thanh tìm kiếm */
.navbar-box{
    max-width: 200px;
    width: 100%;
    margin-top: 28px;
}
.search-box{
    position: relative;
    height: 50px;
    max-width: 50px;
    margin-left: -38px;
    border-radius: 25px;
    box-shadow: 0px 5px 10px -1px rbga(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
}
.search-box:hover {
    max-width: 380px;
}
.search-box input {
    cursor: text;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 20px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.search-box .icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top:0;
    width:3.125rem;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: #f15e2c;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
/* Kết thúc thanh tìm kiếm  */


